<div class="container mt-5 pt-5">
  <h2 class="mb-3">Manage Orders</h2>

  <div *ngIf="isLoading" class="text-center my-3">
    <div class="spinner-border text-primary"></div>
  </div>

  <table *ngIf="!isLoading" class="table table-bordered table-striped">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>User ID</th>
        <th>Book ID</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let order of orders; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ order.User }}</td>


        <td>{{ order.Books?.[0]?.BookId }}</td>

        <td>{{ order.Books?.[0]?.Quantity }}</td>
        <td>{{ order.TotalPrice }}</td>

        <td>
          <span class="badge"
            [ngClass]="{
              'bg-success': order.Status === 'completed',
              'bg-warning': order.Status === 'pending',
              'bg-danger': order.Status === 'rejected'
            }">
            {{ order.Status }}
          </span>
        </td>

        <td>{{ order.CreatedAt | date: 'yyyy-MM-dd' }}</td>
      </tr>
    </tbody>
  </table>
</div>
